DirectoryIndex index.php
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Envoyer les routes virtuelles vers le point d'entrée PHP
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]
</IfModule>